<!DOCTYPE html>
<html>
    <head>
        <title>intro</title>
        <meta charset='utf-8'>
    </head>
    <body>
        <!--Nav Bar-->
        <div class="pos-f-t">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-inverse p-4">
              <h4 class="text-white">신이 너를 만들때</h4>
              <span class="text-muted">제작자 : 멋사 인천대 5기 황보협</span>
            </div>
          </div>
          <nav class="navbar navbar-inverse bg-inverse">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        </div>
        
        <!--Content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <img src="<%= asset_path @main %>" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col my-auto">
                    <form action="/index" method="get">
                      <div class="form-group">
                        <label for="exampleInputEmail1">이름을 입력하세요</label>
                        <input type="text" class="form-control" name="user_name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name">
                        <small id="emailHelp" class="form-text text-muted">신이 너를 만들때</small>
                      </div>
                      <button type="submit" class="btn btn-primary">확인하기!</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>